    /*
    Flaticon icon font: Flaticon
    Creation date: 26/06/2017 13:37
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-001-wind-8:before { content: "\f100"; }
.flaticon-002-wind-7:before { content: "\f101"; }
.flaticon-003-wind-6:before { content: "\f102"; }
.flaticon-004-wind-5:before { content: "\f103"; }
.flaticon-005-wind-4:before { content: "\f104"; }
.flaticon-006-wind-3:before { content: "\f105"; }
.flaticon-007-wind-2:before { content: "\f106"; }
.flaticon-008-wind-1:before { content: "\f107"; }
.flaticon-009-wind:before { content: "\f108"; }
.flaticon-010-venus:before { content: "\f109"; }
.flaticon-011-thermometer-3:before { content: "\f10a"; }
.flaticon-012-thermometer-2:before { content: "\f10b"; }
.flaticon-013-thermometer-1:before { content: "\f10c"; }
.flaticon-014-thermometer:before { content: "\f10d"; }
.flaticon-015-sun:before { content: "\f10e"; }
.flaticon-016-sunset-3:before { content: "\f10f"; }
.flaticon-017-sunset-2:before { content: "\f110"; }
.flaticon-018-sunset-1:before { content: "\f111"; }
.flaticon-019-sunset:before { content: "\f112"; }
.flaticon-020-snowflake:before { content: "\f113"; }
.flaticon-021-snow-2:before { content: "\f114"; }
.flaticon-022-snow-1:before { content: "\f115"; }
.flaticon-023-moon:before { content: "\f116"; }
.flaticon-024-snow:before { content: "\f117"; }
.flaticon-025-farenheit:before { content: "\f118"; }
.flaticon-026-cloud-13:before { content: "\f119"; }
.flaticon-027-cloud-12:before { content: "\f11a"; }
.flaticon-028-cloud-11:before { content: "\f11b"; }
.flaticon-029-cloud-10:before { content: "\f11c"; }
.flaticon-030-cloud-9:before { content: "\f11d"; }
.flaticon-031-cloud-8:before { content: "\f11e"; }
.flaticon-032-cloud-7:before { content: "\f11f"; }
.flaticon-033-cloud-6:before { content: "\f120"; }
.flaticon-034-cloud-5:before { content: "\f121"; }
.flaticon-035-cloud-4:before { content: "\f122"; }
.flaticon-036-cloud-3:before { content: "\f123"; }
.flaticon-037-cloud-2:before { content: "\f124"; }
.flaticon-038-cloud-1:before { content: "\f125"; }
.flaticon-039-cloud:before { content: "\f126"; }
.flaticon-040-celsius:before { content: "\f127"; }
    
    $font-Flaticon-001-wind-8: "\f100";
    $font-Flaticon-002-wind-7: "\f101";
    $font-Flaticon-003-wind-6: "\f102";
    $font-Flaticon-004-wind-5: "\f103";
    $font-Flaticon-005-wind-4: "\f104";
    $font-Flaticon-006-wind-3: "\f105";
    $font-Flaticon-007-wind-2: "\f106";
    $font-Flaticon-008-wind-1: "\f107";
    $font-Flaticon-009-wind: "\f108";
    $font-Flaticon-010-venus: "\f109";
    $font-Flaticon-011-thermometer-3: "\f10a";
    $font-Flaticon-012-thermometer-2: "\f10b";
    $font-Flaticon-013-thermometer-1: "\f10c";
    $font-Flaticon-014-thermometer: "\f10d";
    $font-Flaticon-015-sun: "\f10e";
    $font-Flaticon-016-sunset-3: "\f10f";
    $font-Flaticon-017-sunset-2: "\f110";
    $font-Flaticon-018-sunset-1: "\f111";
    $font-Flaticon-019-sunset: "\f112";
    $font-Flaticon-020-snowflake: "\f113";
    $font-Flaticon-021-snow-2: "\f114";
    $font-Flaticon-022-snow-1: "\f115";
    $font-Flaticon-023-moon: "\f116";
    $font-Flaticon-024-snow: "\f117";
    $font-Flaticon-025-farenheit: "\f118";
    $font-Flaticon-026-cloud-13: "\f119";
    $font-Flaticon-027-cloud-12: "\f11a";
    $font-Flaticon-028-cloud-11: "\f11b";
    $font-Flaticon-029-cloud-10: "\f11c";
    $font-Flaticon-030-cloud-9: "\f11d";
    $font-Flaticon-031-cloud-8: "\f11e";
    $font-Flaticon-032-cloud-7: "\f11f";
    $font-Flaticon-033-cloud-6: "\f120";
    $font-Flaticon-034-cloud-5: "\f121";
    $font-Flaticon-035-cloud-4: "\f122";
    $font-Flaticon-036-cloud-3: "\f123";
    $font-Flaticon-037-cloud-2: "\f124";
    $font-Flaticon-038-cloud-1: "\f125";
    $font-Flaticon-039-cloud: "\f126";
    $font-Flaticon-040-celsius: "\f127";